@import './variables.scss';
@import './icons.scss';

// Wrapper of main blocks
.wrapper {
	display: flex;
	width: 50%;
	min-height: 100vh;
}

@media (min-width: 1280px) {
	.wrapper {
		max-width: 960px;
	}
}

@media (max-width: 1279px) {
	.wrapper {
		width: 100%;
		margin: 0 auto;
	}
}

// Desktop preview button
.mobile-preview-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
}
